* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Orbitron", sans-serif;
    background-color: #F9FAFB;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    width: 500px;
    height: 200px;
    border: 2px solid #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 1rem 1rem;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
}

#date, #time {
    padding: 0.5rem 0.5rem;
    color: #111827;
}

#time {
    font-size: 3rem;
}